 * {    
 margin: 0;  
}  
html, body {  
    height: 100%;  
}  
#container {  
    min-height: 100%;  
    height: auto !important;  
    height: 100%;  
    margin: 0 auto -40px; /* el margin del bottom debe ser el mismo valor que el alto del footer pero en negativo */  
}

.footer, .push {  
    height: 40px; /* .push debe ser el mismo alto que .footer */  
}  

body{
	background-image: linear-gradient(bottom, rgb(156,163,151) 43%, rgb(192,199,179) 68%);
	background-image: -o-linear-gradient(bottom, rgb(156,163,151) 43%, rgb(192,199,179) 68%);
	background-image: -moz-linear-gradient(bottom, rgb(156,163,151) 43%, rgb(192,199,179) 68%);
	background-image: -webkit-linear-gradient(bottom, rgb(156,163,151) 43%, rgb(192,199,179) 68%);
	background-image: -ms-linear-gradient(bottom, rgb(156,163,151) 43%, rgb(192,199,179) 68%);
}


#header{
    margin-bottom: 1.5%;
}

table#metodo{
    margin-top: 10px;
}

#metodo td{
    height: 40px;
}

#metodo tr{
}

table#logtabla{
    border-collapse:collapse;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

#logtabla thead{
    background: red;
    text-align: left;
}

#logtabla th{
    padding: 10px;
}

#logtabla tr{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

#logtabla td{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}


#logtabla tr:last-child th:first-child {
-moz-border-radius-topleft:10px;
-webkit-border-top-left-radius:10px;
border-top-left-radius:10px}

#logtabla tr:last-child th:last-child {
-moz-border-radius-topright:10px;
-webkit-border-top-right-radius:10px;
border-top-right-radius:10px}

#fondo{
	background: white;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    min-height: 446px;
}


table#tablarobot{
	border: 10px solid;
	width:  400px;
	height: 400px;
	background: url('../imagenes/piso.jpg');
	/*border radius */
	-webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    
    /*sombras */
    box-shadow: 5px 5px 0 #333;
   -webkit-box-shadow: 5px 5px 0 #333;
   -moz-box-shadow: 5px 5px 0 #333;
}

#tablarobot td{
	width: 50px;
	height: 50px;
	border: 1px solid white;
	vertical-align: middle;
	
}

#img{
	width: 100px;
	height: 100px;
}

#tablarobot tr{
    width: 50px;
    height: 50px;
    border: 1px dashed;
   
}

#tablero{
	padding-left: 80px;
}

#log{
	
}

#log textarea{
	resize: none;
}

#dashboard{
    
}

#formrobot tr{
	height: 40px;
	
}

/* dasboard form */

.inputform{
	 width: 60px;
}

.spantext{
	float: right;
}

/*  BOTONES CON CSS */

.button, .button span {
   display: inline-block;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}
.button {
   white-space: nowrap;
   line-height:1em;
   position:relative;
   outline: none;
   overflow: visible; 
   cursor: pointer;
   border: 1px solid #999;
border: rgba(0, 0, 0, .2) 1px solid;
   border-bottom:rgba(0, 0, 0, .4) 1px solid;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
   box-shadow: 0 1px 2px rgba(0,0,0,.2);
   background: -moz-linear-gradient(
      center top,
      rgba(255, 255, 255, .1) 0%,
      rgba(0, 0, 0, .1) 100%
   );
   background: -webkit-gradient(
      linear,
      center bottom,
      center top,
      from(rgba(0, 0, 0, .1)),
      to(rgba(255, 255, 255, .1))
   );
   -moz-user-select: none;
   -webkit-user-select:none;
   -khtml-user-select: none;
   user-select: none;
   margin-bottom:10px;
}
.button.full, .button.full span {
   display: block;
}
.button:hover, .button.hover {
   background: -moz-linear-gradient(
      center top,
      rgba(255, 255, 255, .2) 0%,
      rgba(255, 255, 255, .1) 100%
   );
   background: -webkit-gradient(
      linear,
      center bottom,
      center top,
      from(rgba(255, 255, 255, .1)),
      to(rgba(255, 255, 255, .2))
   );
}
.button:active, .button.active {
   top:1px;
}
.button span {
   position: relative;
   color:#fff;
   text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
   border-top: rgba(255, 255, 255, .2) 1px solid;
   padding:0.6em 1.3em;
   line-height:1em;
   text-align:center;
   white-space: nowrap;
}

/* personalización */
.button.grande span {
   font-size:23px;
}

.button.pequeno span{
	font-size: 15px;
}

.button.azul{
	background-color: blue;
}
.button.rojo {
   background-color: #e62727;
}

A{
   color: #0000cc;
   text-decoration: none;
}