* { margin: 0; }
  html, body { height: 100%; }
  /* El margin-bottom de container es el valor negativo de la altura del footer */ 
  
#container { min-height: 100%; height: auto !important; height: 100%; 
		   margin: 0 auto -4em;  }
/* .push debe tener la misma altura que footer */
#footer, .push { height: 4em; clear:both; }	

#tablarobot table{
	width: 100%
}

#tablarobot td{
	width: 300px;
}

#tablarobot th{
}

#tablero{
	display:inline;
    float: left;
    position: relative;
    width: 60%;

}

#dashboard{
	display:inline;
    float: left;
    position: relative;
    width: 40%;
}